<h1>Modifier<%= @project.title.capitalize %> ?</h1>

<%= simple_form_for(@project) do |f| %>
  <%= f.input :title %>
  <%= f.input :url %>
  <%= f.input :description, as: :text %>
  <%= f.input :creation_date, as: :date, html5: true %>
  <%= f.label :category %>
  <%= f.collection_radio_buttons :category_id, Category.all, :id, :name %>
  <%= f.input :photo, as: :file %>
  <%= f.submit %>
<% end %>

<%= link_to 'retour', root_path %>
